# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
.env/
.env.docker
.env.docker.example

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Python build files
build/
dist/
*.egg-info/

# SQLite
*.sqlite3

# Jupyter
.ipynb_checkpoints/

# Celery
celerybeat-schedule

# Node (if frontend exists)
node_modules/

# Environment variables
.env